name: Test Make targets

on:
  push:
  pull_request:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        submodules: 'true'

      - name: Display AWS CLI version
        run: make aws/cli/version
